@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">MediaManager</h1>
    <p>Manage your media and gain insights on file formats, metadata, and more.</p>
</div>
